body {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /* background-color: rgb(208, 208, 208); */
    background-image: linear-gradient(to right, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.7)), url('https://media.istockphoto.com/id/1464391033/photo/closeup-shot-of-a-corridor-made-of-wooden-arcs-with-orange-sunlight-reflection.webp?a=1&s=612x612&w=0&k=20&c=psdB-yNT3FN-A4XDav9RfQ13_1kAL0mJ6tOBkZxa8_0=');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom left;
}

/* contain all the avatars */
.avatar-container {
    /* background-color: rgb(170, 170, 170); */
    /* cover the background */
    min-height: 10vh;
    padding: 12px;
}

@media screen and (max-width: 768px) {
    .avatar-container {
        padding: 48px;
    }
}


/* each avatar box */
.avatar-content {
    max-width: 250px;
    background-color: rgba(67, 67, 67, 0.452);
    border: 2px solid black;
    border-radius: 10%;
}

/* avatar image */
.avatar {
    /* top right bottom left */
    margin: 10px 45px 10px 45px;

    height: 150px;
    width: 150px;
    /* margin-bottom: 30px;
    margin-left: 45px; */
    border-radius: 50%;

    object-fit: cover;
    /* h-offser, v-offset, blue, spread color */
    box-shadow: 3px 3px 5px 0px black;
}

.name {
    margin: 0px;
    font-size: 16px;
}

/* 
apply this css rules to *screen* if the screen size is less than 768px
*/
@media screen and (max-width: 768px) {
    .name {
        /* padding: 12px; */
    }
}

.about {
    margin: 0px;
    font-size: 16px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.button {
    background-color: black;
    color: white;
    padding: 5px 24px; /* top, bottom  and left, right */
    text-decoration: none;
}